<!DOCTYPE html>
<html>
<head>
    <title>Patient History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Patient History</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Weight</th>
        <th>Address</th>
        <th>Result</th>
        <th>Confidence</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/home">
    <button>Back to Home</button>
</a>

</body>
</html>